@import url("https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css");

:root {
    --font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body,
html {
    min-height: 100vh;
    background: #f1f3f6;
    font-family: var(--font-family) ;
}
.text-danger {
    color: red;
}
.custom-accordion .accordion__button {
    position: relative;
    background: #fff;
    padding: 10px;
}
.tabs-list {
    margin-left: -20px;
    margin-right: -20px;
}
.tabs-list .active {
    border-bottom: 2px solid #000;
    font-weight: bold;
}
.tabs-list .active.not-active {
    border-bottom: none;
    font-weight: normal;
}
.custom-height {
    height: calc(100vh - 89px);
    overflow: hidden;
    overflow-y: auto;
}
.custom-height-transcript {
    height: calc(100vh - 130px);
    overflow: hidden;
    overflow-y: auto;
}
.custom-height-playlist {
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: auto;
    counter-reset: section;
}
.custom-height-playlist .list {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}
.custom-height-playlist .list:before {
    counter-increment: section;
    content: ""counter(section)"";
    position: absolute;
    left: -2px;
    top: 50%;
    font-size: 12px;
    margin-top: -18px;
}
.custom-height-playlist .image-holder {
    width: 120px;
    height: 65px;
    flex: 0 0 120px;
}
.custom-height-playlist .image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.custom-accordion .accordion__panel {
    padding: 0;
}
.custom-accordion .accordion__item + .accordion__item {
    border-top: none;
    margin-top: 15px;
}
.custom-accordion .accordion__button:before {
    top: 50%;
    right: 15px;
    left: auto;
    position: absolute;
    margin-top: -7px;
}
.custom-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
/* .main-bg {
    background: url(../images/main-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
} */
.main-bg .holder {
    width: 700px;
}
.video-sidebar {
    margin-top: -1px;
}
.video-holder .video-js {
    padding-top: 46.25%;
}
.video-js .vjs-control-bar {
    bottom: 30px;
    left: 30px;
    right: 30px;
    height: 5em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1px;
    width: auto;
    border-radius: 40px;
}
.video-js .vjs-control {
    font-family: var(--font-family);
    font-size: 16px;
}
.video-js .vjs-progress-holder {
    height: 0.8em;
    border-radius: 20px;
}
.video-js .vjs-load-progress div {
    background: #000000;
}
.video-js .vjs-progress-holder .vjs-play-progress:before { display: none;}
.video-js .vjs-play-progress {
    border-radius: 20px 0 0 20px;
}
.video-js .vjs-progress-control .vjs-progress-holder {
    margin: 0px 40px;
    background-color: rgba(0, 0, 0, 0.43);
}
.video-js .vjs-play-progress:before {
    font-size: 0.9em;
    position: absolute;
    right: -5px;
    z-index: 1;
    color: #fff;
    top: -1px;
    font-size: 10px;
    bottom: 0;
}
.vjs-playback-rate .vjs-playback-rate-value {
    font-size: 16px;
    background: rgba(0, 0, 0, 0.35);
    font-weight: 600;
    padding: 7px;
}
.vjs-remaining-time-display {
    font-weight: 600;
}
.video-details {
    padding-top: 5px;
    border-bottom: 1px solid rgb(229,231,235);
    padding-left: 10px;
    padding-right: 10px;
}
.information {
    background-color: #f1f3f6;
}
.sidebar-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video-details h1 {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}
.video-details span {
    font-weight: 500;
}
.tabs-details p {
    line-height: 1;
    position: relative;
    z-index: 1;
    color: #999;
}
.tabs-details p.active {
    font-weight: 600;
    color: #000;
    border-bottom: 3px solid #000;
}
.h-custom {
    height: 22rem;
}
.videoLoader {
    width: 100%;
    height: 460px;
    background: #eee;
}
.custom-select {
    position: relative;
    padding-top: 0px;
}
.dash-js-audio {
    height: 60px !important;
}
.custom-select label {
    position: absolute;
    top: -10px;
    left: 15px;
    font-size: 12px;
    background: #fff;
    padding: 0 5px;
}
.select-react label{
    z-index: 99999;
}
#transcript_search_box {
    margin: -20px -20px 10px;
    padding: 5px 20px;
}
.auto-scroll-holder {
    position: relative;
    top: -10px;
    text-align: right;
}
.auto-scroll-holder input[type="checkbox"] {
    display: none;
}
.auto-scroll-holder input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
}
.auto-scroll-holder input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background: #fff;
    top: 2px;
    left: 0;
    border: 1px solid #e5e7eb;
}
.expand-toggle{
    border-left: 2px solid #7d7d7d;
    padding-left: 3px;
}
.auto-scroll-holder input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 9px;
    height: 6px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}
.auto-scroll-holder input[type="checkbox"]:checked + label:before {
    opacity: 1;
    visibility: visible;
}
#searched_keywords {
    position: relative;
    margin-top: 10px;
}
#searched_keywords .search-result label {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.8;
    background: #ffffff;
    padding: 3px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    overflow: hidden;
}
#searched_keywords .search-result label svg {
    background: #ffffff;
    margin: -3px 0 -3px -3px;
    width: 30px;
    height: 30px;
    padding: 7px;
}
#searched_keywords .clear-terms {
    position: absolute;
    top: 7px;
    right: 20px;
    font-size: 12px;
}
#searched_keywords .searched-list {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}
#searched_keywords .searched-list li {
    display: flex;
    justify-content: space-between;
}
#searched_keywords .searched-list li > div {
    display: flex;
    align-items: center;
}
#searched_keywords .prev-btn,
#searched_keywords .next-btn {
    font-size: 0;
    width: 20px;
    height: 20px;
    background: #f3f3f3;
    border-radius: 20px;
    position: relative;
    top: -5px;
    margin: 0 3px;
}
#searched_keywords .prev-btn:before,
#searched_keywords .next-btn:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-left: 2px solid #808080;
    border-bottom: 2px solid #808080;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#searched_keywords .next-btn:before {
    left: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);    
}
#searched_keywords .remove-btn {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background: #f3f3f3;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}
#searched_keywords .total-hit {
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 20px;
    margin-right: 5px;
    min-width: 38px;
    display: inline-block;
    text-align: center;
}
.login-form-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-form {
    max-width: 430px;
    margin: auto;
    padding: 30px;
    background: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.login-form h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.login-form p {
    margin-bottom: 30px;
    font-size: 16px;
}
.login-form .login-button {
    width: 100%;
    background: #222;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}
.login-form .skip-button {
    width: 100%;
    padding: 20px;
    color: #444;
    font-size: 16px;
}
.login-form .error-message {
    color: #f00;
    margin: 0 0 15px;
    display: block;
}

@media screen and (max-width: 992px) {
    .main-bg {
        padding: 2rem;
    }
    .main-bg .holder {
        width: 100%;
    }
    .main-bg .holder h1 {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }
    .main-bg .holder > div {
        padding: 1.5rem;
    }
    .videoLoader {
        height: 380px;   
    }
}
@media screen and (max-width: 1280px){
    .custom-height,
    .custom-height-playlist,
    .custom-height-transcript {
        height: auto;
    }
    .sticky_header{
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: #fff;
    }
    .sticky_div {
        height: 51px;
        margin-top: 10px;
    }
    .audio_header{
        height: 110px;
        position: relative;
    }
    .vjs-audio > .vjs-control-bar{
        position: unset !important;
    }
    .vjs-audio{
        margin-top: 0px !important;
    }
   
}


.transcript_data .transcript_item.active {
    background: #ddeaf0;
}

.highlight-marker {
    cursor: pointer;
    border: 1px solid #ffc800;
    background: rgba(254,181,66,0.15) !important;
    color: #222 !important;
}

.active-marker {
    background: #e5ebed !important;
    border: 1px solid #204f92;
    border-radius: 2px;
    color: #222;
}
.css-1dyz3mf{
    flex-wrap: wrap !important;
}
.slick-next{
    background: #000 !important;
    left:0px !important
}
.slick-prev{
    background: #000 !important;
    left:0px !important
}
.slick-arrow{
position:  relative !important;
margin: 0px 15px;
}
.slick-slider{
    display: flex !important;
    align-items: center;
    width: 100% !important;
}

.slick-slide{
    width: 11.1% !important;
}
.slick-track{
    min-width: 1026px !important;
    display: flex !important;
}
.slider-container{
width: 85%;
}
.slider-cover{
    display:flex;
    margin: 20px 10px 0px 10px;
}
.heading-div{
    width: 15%;
}
.slick-prev:before {
    content: '<' !important;
    font-weight: 900;
    opacity: 1 !important
}

.slick-next:before {
    content: '>' !important;
    font-weight: 900;
    opacity: 1 !important;
}

.slick-prev, .slick-next{
    font-size: 18px !important;
    background-color: #204f92 !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
}
.heading-div h3{
    font-weight: 800;
}
#my-tooltip{
    background-color: #808080 !important;
    color: #eee !important;
    z-index: 999999;
}
.point_label, .point_label__multi-value__label {
    display: inline-block;
    max-width: 135px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.point_label_file {
    display: inline-block;
    max-width: 105px !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: small;
    font-weight: 600;
    padding-left: 10px;
}
.css-1wy0on6 {
    align-items: start !important;
}
.point_label__clear-indicator, .point_label__dropdown-indicator {
    position: sticky !important;
    top: 6px !important;
}